<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fishcart Logistics</name>
    <description>
        Fishcart logistics utility app
    </description>
    <author email="mubarakrocky@gmail.com" href="http://mubarakrocky.tumblr.com">
        Mubarak Rocky
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
    	
    	<icon src="platforms/android/res/mipmap-mdpi/icon.png" density="ldpi" />
		<icon src="platforms/android/res/mipmap-mdpi/icon.png" density="mdpi" />
		<icon src="platforms/android/res/mipmap-hdpi/icon.png" density="hdpi" />
		<icon src="platforms/android/res/mipmap-xhdpi/icon.png" density="xhdpi" />
		
        <splash src="platforms/android/res/drawable/screen_land.png" density="land-hdpi"/>
    	<splash src="platforms/android/res/drawable/screen_land.png" density="land-ldpi"/>
    	<splash src="platforms/android/res/drawable/screen_land.png" density="land-mdpi"/>
    	<splash src="platforms/android/res/drawable/screen_land.png" density="land-xhdpi"/>
		
		<splash src="platforms/android/res/drawable/screen.png" density="port-hdpi"/>
    	<splash src="platforms/android/res/drawable/screen.png" density="port-ldpi"/>
    	<splash src="platforms/android/res/drawable/screen.png" density="port-mdpi"/>
    	<splash src="platforms/android/res/drawable/screen.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
</widget>
